<div class="app-shell">
  @if (showNavbar()) {
    <app-sidebar [userName]="userName()" [userPhotoUrl]="userPhotoUrl()" (logoutClick)="logout()" />
  }
  <div class="app-main">
    @if (showNavbar()) {
      <app-header
        [unreadNotifications]="unreadCount()"
        [unreadChat]="chatService.unreadFrom().size"
        [menuOpen]="drawerOpen()"
        (menuClick)="openDrawer()"
      />
    }
    <main class="app-content">
      <router-outlet />
    </main>
  </div>
  @if (showNavbar()) {
    <app-bottom-nav />
    <app-mobile-drawer
      [open]="drawerOpen()"
      [userName]="userName()"
      [userPhotoUrl]="userPhotoUrl()"
      (closed)="closeDrawer()"
      (logoutClick)="logout()"
    />
  }
</div>
